/*
* @Author: qing
* @Date:   2019-08-27 19:24:21
* @Last Modified by:   qing
* @Last Modified time: 2019-08-31 10:45:49
*/
.header-navbar{
	height: 42px;
    border-bottom: 2px solid #011912;
}
.header-navbar>ul{
	width: 1196px;
	height: 40px;
	margin: auto;
}
.header-navbar>ul>li{
	float: left;
	height: 40px;
	font-size: 16px;
	margin-right: 24px;
	line-height: 40px;
}
.header-navbar .icon-btn{
	width: 196px;
	background-color: #011912;
	color: #fff;
	text-align: center;
	font-size: 14px;
}
.header-navbar .icon-btn>span{
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	top: 5px;
} 
.icon-btn>span>i{
	width: 12px;
	height: 2px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
}
.header-navbar .icon-btn i:nth-child(1){
	top: 2px;
}
.header-navbar .icon-btn i:nth-child(2){
	top: 6px;
}
.header-navbar .icon-btn i:nth-child(3){
	top: 10px;
}
.header-navbar .bar-img{
	float: right;
	margin: 0px;
}
.header-navbar .bar-img i{
	width: 18px;
	height: 20px;
	display: inline-block;
	background: url("../images/kefu.png");
	background-size: 18px 20px;
	margin: 8px 5px 0px 0px;
	float: left;
}
.bar-img a:hover i{
	background: url("../images/kefu2.png");
	background-size: 18px 20px;
}
.aside{
	top: 192px;
	left: 161.5px;
	display: none;
	text-align: left;
	color: #333;
	line-height: 20px;
	z-index: 999;
}
.subnav{
	width: 100%;
	height: 70px;
	padding-top: 24px;
	background-color: #fff;
	border-bottom: 1px solid #dfdfdf;
}
.subnav .s-center{
	width: 1196px;
	height: 100%;
	margin: auto;
	font-family: '微软雅黑','Microsoft YaHei','黑体', Helvetica,Arial;
	font-weight: lighter;
	color: #333;
}
.subnav .s-center .s-left{
	float: left;
	width: 598px;
}
.subnav .s-left ul{
	width: 198px;
	height: 100%;
	float: left;
	margin-bottom: 0px;
}
.subnav .s-left li{
	float: left;
	position: relative;
	line-height: 35px;
	margin-left: 4px;
}
.subnav .s-left li:nth-child(1){
	font-weight: bold;
	font-size: 16px;
	margin-left: 0px;
}
.subnav .s-left .sl-after{
	float: left;
	margin: 5px 4px 0px 10px;
}
.subnav .s-left .sl-btn{
	width: 91px;
	line-height: 27px;
	height: 27px;
	margin: 4px 0px 0px 24px;
	padding-left: 13px;
	float: left;
	display: block;
	border: 1px solid #d8d6d6;
	background: #fff url("../images/kefu.jpg");
	background-size: 20px;
	background-position: 10px 1px;
	background-repeat: no-repeat;
	font-size: 12px;
	text-align: center;
}
.subnav .s-left .sl-btn:hover{
	border-color: #d80e1a;
	color: #d80e1a;
	background: #fff url("../images/kefu.jpg");
	background-size: 20px;
	background-position: 10px -24px;
	background-repeat: no-repeat;
}
.subnav .s-right{
	float: right;
	width: 598px;
}
.subnav .s-right .sr-txt{
	float: right;
	line-height: 34px;
}
.subnav .sr-txt a{
	margin: 0px 8px;
	position: relative;
}
.subnav .sr-txt a:nth-child(1)::after{
	content: "";
	position: absolute;
	width: 1px;
	height: 14px;
	top: 3px;
	left: 37px;
	background-color: #ccc;
}
.subnav .sr-txt a:nth-child(2):hover{
	color: #000;
}
.subnav .sr-txt .sr-red{
	color: #d80e1a;
}
.subnav .sr-txt .sr-btn{
	margin: 0px 0px 0px 5px;
	width: 110px;
	height: 30px;
	display: inline-block;
	background-color: #d80e1a;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 3px;
}
.subnav .sr-txt .sr-btn:hover{
	background-color: #b0000a;
}
.section{
	width: 100%;
}
.section .s-banner{
	width: 100%;
	height: 756px;
	background: url("../images/a011.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.section .s-banner .sb-center{
	width: 1200px;
	height: 100%;
	margin: auto;
	color: #fff;
	position: relative;
}
.section .s-banner .s-txt{
	position: absolute;
	top: 260px;
}
.s-banner .s-txt h2{
	margin: 0px 0px 19px 0px;
	font-size: 66px;
}
.s-banner .s-txt i{
	padding: 0px 10px 0px 12px;
}
.s-banner .s-txt del{
	margin-top: 42px;
	display: block;
	color: #d80000;

}
.s-banner .s-txt span{
	font-size: 24px;
	color: #d80000;
}
.s-banner .s-txt em{
	font-size: 46px;
}
.s-banner .s-img{
	position: absolute;
	top: 80px;
	right: -60px;
}
.s-banner .sb-text{
	color: #999;
	font-size: 12px;
	position: absolute;
	bottom: -20px;
}
.section .s-container{
	width: 100%;
	padding: 220px 0px 100px 0px;
	overflow: hidden;
	background-color: #fafafa;
}
.section .s-container .s-content{
	width: 1200px;
	margin: auto;
}
.section h1{
	width: 100%;
	font-size: 38px;
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}
.section p{
	width: 100%;
	font-size: 16px;
	text-align: center;
}
.section .s-h1,
.sl-h1,
.sl-h2,
.sc-h3,
.ss-h4,
.c-h5,
.c-h6,
.c-h7,
.cc-h8,
.cc-h9,
.c-h10,
.c-h11{
	position: relative;
	top: 150px;
	opacity: 0;
}
.section .s-p,
.sl-p,
.sl-p2,
.sc-p3,
.ss-p4,
.c-p5,
.c-p6,
.c-p7,
.cc-p8,
.cc-p9 p,
.c-p10,
.c-p11{
	position: relative;
	top: 150px;
	opacity: 0;
}
.section .sl-img2,
.c-img3{
	opacity: 0;
}
.section .sc-img{
	width: 100%;
	padding: 70px 0px 0px 0px;
	overflow: hidden;
}
.section .sc-img li{
	float: left;
	margin: 0px 20px 20px 0px;
}
.sc-img li span{
	position: absolute;
}

.section .sc-img img{
	width: 100%;
	height: 100%;
}
.section .sc-img .index{
	opacity: 1;
	transition: 2s;
}
.section .sc-img .index2{
	opacity: 0;
	transition: 2s;
}
.section .sc-img .sclit:hover .index{
	opacity: 0;
}
.section .sc-img .sclit:hover .index2{
	opacity: 1;
}
.section .s-container 
.sc-lit1,
.sc-lit2,
.sc-lit5,
.sc-lit6{
	width: 405px;
	height: 250px;
}
.section .s-container 
.sc-lit3,
.sc-lit4{
	width: 330px;
	height: 250px;
}
.section .sc-center{
	width: 100%;
	background-color: #fff;
	margin-top: 30px;
	overflow: hidden
}
.section .sc-layout{
	width: 1200px;
	margin: auto;
	padding-top: 70px;
	position: relative;
}
.section .sc-layout .sl-img{
	width: 100%;
	height: 600px;
	margin-top: 80px;
}
.sc-layout .sl-img img{
	width: 100%;
	height: 100%;
}
.section .sc-layout .sl-h2{
	margin-top: 100px;
}
.section .sc-layout .sl-img2{
	margin-top: 70px;
}
.section .sc-banner{
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: 70px;
}
.section .sc-banner img{
	position: relative;
	left: -517px;
}
.section .sc-layout .sl-text{
	font-size: 12px;
	position: absolute;
    bottom: -750px;
    left: 400px;
    z-index: 3;
}
.section .sc-layout2{
	width: 1200px;
	margin: 170px auto 0px;
}
.sc-layout2 .sc-h3{
	margin-bottom: 20px;
}
.sc-layout2 .sc-h3 h1{
	margin: 0px 0px 10px 0px;
}
.section .swiper{
	width: 1200px;
	height: 540px;
	margin: 100px auto;
    position: relative;
}
.section .swiper ul,
.section .swiper2 ul{
	width: 960px;
	height: 540px;
	margin: auto;
	position: relative;
}
.section .swiper li,
.section .swiper2 li{
	position: absolute;
	border-radius: 3px;
	overflow: hidden;
	transition: 1s;
}
.swiper .slist img,
.swiper2 .slist2 img{
	width: 100%;
	height: 100%;
	border-radius: 3px;
    filter: blur(10px);  /* 设置图片模糊 */
}
.swiper .mohu img,
.swiper2 .mohu2 img{
	 filter: blur(0px);   /* 清除模糊 */
}
.section .swiper #sprev,#snext{
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
	background: url("../images/btn.png");
	background-repeat: no-repeat;
	z-index: 4;
	cursor: pointer;
}
.section .swiper2 #golast,#gonext{
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
	background: url("../images/btn.png");
	background-repeat: no-repeat;
	z-index: 4;
	cursor: pointer;
}
.section .swiper #sprev,
.section .swiper2 #golast{
	top: 218px;
	left: 20px;
	background-position: 0px 0px;
}
.section .swiper #snext,
.section .swiper2 #gonext{
	top: 218px;
	left: 984px;
	background-position: -95px 0px;
}
.section .swiper2{
	width: 1200px;
	margin: auto;
}
.section .swiper2 .ss-banner{
	position: relative;
	margin: 100px 0px 10px;
}
.swiper2 .ss-h4 h1{
	margin: 0px 0px 10px 0px;
}
.swiper2 .ss-p4{
	margin-top: 20px;
}
.swiper2 .ss-p4 p{
	margin: 10px 0px 5px 0px;
}
.section .culomn1{
	width: 100%;
	background-color: #fafafa;
}
.section .culomn1 .c-center,
.section .culomn2 .c-center{
	width: 1200px;
	margin: auto;
	padding: 90px 0px 0px 0px;
}
.culomn1 .c-center .c-img5{
	margin-top: 40px;
}
.culomn1 .c-center .c-h6{
	padding-top: 100px;
}
.culomn1 .c-h6 h1{
	margin-bottom: 20px;
}
.culomn1 .c-center .c-img6{
	padding: 50px 0px 120px 0px;
}
.section .culomn2{
	width: 100%;
}
.section .culomn2 .c-img7{
	margin-top: 80px;
}
.section .culomn2 .c-box{
	width: 100%;
}
.culomn2 .c-box .cb-txt{
	width: 40%;
	float: left;
	padding-top: 430px;
}
.culomn2 .cb-txt h1,
.culomn2 .cb-txt p{
	text-align: left;
}
.culomn2 .c-box .cb-img{
	width: 60%;
	float: left;
}
.section .culomn2 .cc-h8{
	margin: 200px 0px 20px 0px;
}
.section .cc-h8 h1{
	margin: 0px 0px 10px 0px;
}
.section .culomn2 .cc-img9{
	margin: 80px 0px;
}
.section .culomn3{
	width: 1200px;
	margin: auto;
	position: relative;
}
.section .culomn3 .cc-h9{
	margin: 200px 0px 20px 0px;
}
.section .cc-h9 h1{
	margin: 0px 0px 10px 0px;
}
.section .culomn3 .video{
	display: block;
	width: 1200px;
	height: 671px;
	margin: 80px 0px;
}
.section .culomn3 #play{
	width: 1200px;
	height: 671px;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	top: 248px;
	left: 0px;
	color: #fff;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
}
.section .culomn3 #play:hover .playbtn{
	animation: go 1s linear;
}
@keyframes go{
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}
@keyframes anim{
	0%{
		transform: rotateZ(360deg);
	}
	100%{
		transform: rotateZ(-0deg);
	}
}
.section .culomn3 #play:hover .p-text{
	transform: scale(1.4);

}
.culomn3 #play .playbtn{
	width: 100px;
	height: 100px;
	display: block;
	background: url("../images/e02.png");
	margin: 276px auto 20px;
	line-height: 671px;
}
.section .culomn3 #play .p-text{
	display: block;
	width: 100%;
	transition: 2s;
}
.section .culomn4{
	width: 100%;
	height: 1400px;
	background: url("../images/m01.jpg");
	background-size: 100% 100%;
	margin: 120px 0px;
	color: #fff;

}
.section .culomn4 .c-box{
	width: 1200px;
	margin: auto;
	padding: 120px 0px;
}
.section .culomn4 .c-box .c-h10{
	margin-bottom: 20px;
}
.section .culomn4 .c-p10 p{
	margin: 0px 0px 5px 0px;
}
.section .culomn4 ul{
	margin: 70px auto;
	width: 720px;
}
.section .culomn4 ul li{
	float: left;
	width: 180px;
	height: 138px;
}
.section .culomn4 ul p{
	margin-bottom: 0px;
	font-size: 14px;
}
.section .culomn4 ul span{
	width: 180px;
	height: 80px;
	margin-bottom: 18px;
	/* background-repeat: no-repeat; */
	background-size: 100% 100%;
	/* background: center; */
	display: block;
}
.section .culomn4 .c-bg1 span{
	background: url("../images/m02.png") no-repeat center;
}
.section .culomn4 .c-bg2 span{
	background: url("../images/m03.png") no-repeat center;
}
.section .culomn4 .c-bg3 span{
	background: url("../images/m04.png") no-repeat center;
}
.section .culomn4 .c-bg4 span{
	background: url("../images/m05.png") no-repeat center;
}
.section .culomn5 .c-h11{
	margin-bottom: 20px;
}
.section .culomn5 .c-h11 h1{
	margin: 0px 0px 10px 0px;
}
.section .culomn5 .ul{
	width: 1200px;
	margin: 80px auto;
}
.section .culomn5 .ul li{
	float: left;
	margin: 0px 0px 10px 8px;
	overflow: hidden;
}
.culomn5 .ul li img{
	transition: 2s;
}
.culomn5 .ul li:hover img{
	transform: scale(1.2);
}
.section .c-scroll{
	width: 100%;
	overflow: hidden;
	float: left;
	margin: 120px 0px 20px;
}
.section .c-scroll ul{
	width: 99999px;
}
.section .c-scroll ul li{
	float: left;
}
.section .c-buttom{
	width: 100%;
	float: left;
}
.section .c-buttom .cb-txt{
	width: 1200px;
	margin: auto;
}
.section .c-buttom p{
	text-align: left;
	color: #999;
	font-size: 12px;
}