/*
* @Author: qing
* @Date:   2019-08-31 09:52:02
* @Last Modified by:   qing
* @Last Modified time: 2019-08-31 09:53:29
*/
.header-navbar{
	height: 42px;
    border-bottom: 2px solid #011912;
}
.header-navbar>ul{
	width: 1196px;
	height: 40px;
	margin: auto;
}
.header-navbar>ul>li{
	float: left;
	height: 40px;
	font-size: 16px;
	margin-right: 24px;
	line-height: 40px;
}
.header-navbar .icon-btn{
	width: 196px;
	background-color: #011912;
	color: #fff;
	text-align: center;
	font-size: 14px;
}
.header-navbar .icon-btn>span{
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	top: 5px;
} 
.icon-btn>span>i{
	width: 12px;
	height: 2px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
}
.header-navbar .icon-btn i:nth-child(1){
	top: 2px;
}
.header-navbar .icon-btn i:nth-child(2){
	top: 6px;
}
.header-navbar .icon-btn i:nth-child(3){
	top: 10px;
}
.header-navbar .bar-img{
	float: right;
	margin: 0px;
}
.header-navbar .bar-img i{
	width: 18px;
	height: 20px;
	display: inline-block;
	background: url("../images/kefu.png");
	background-size: 18px 20px;
	margin: 8px 5px 0px 0px;
	float: left;
}
.bar-img a:hover i{
	background: url("../images/kefu2.png");
	background-size: 18px 20px;
}
.aside{
	top: 192px;
	left: 161.5px;
	display: none;
	text-align: left;
	color: #333;
	line-height: 20px;
	z-index: 999;
}
.subnav{
	width: 100%;
	height: 70px;
	padding-top: 24px;
	background-color: #fff;
	border-bottom: 1px solid #dfdfdf;
}
.subnav .s-center{
	width: 1196px;
	height: 100%;
	margin: auto;
	font-family: '微软雅黑','Microsoft YaHei','黑体', Helvetica,Arial;
	font-weight: lighter;
	color: #333;
}
.subnav .s-center .s-left{
	float: left;
	width: 598px;
}
.subnav .s-left ul{
	width: 198px;
	height: 100%;
	float: left;
	margin-bottom: 0px;
}
.subnav .s-left li{
	float: left;
	position: relative;
	line-height: 35px;
	margin-left: 4px;
}
.subnav .s-left li:nth-child(1){
	font-weight: bold;
	font-size: 16px;
	margin-left: 0px;
}
.subnav .s-left .sl-after{
	float: left;
	margin: 5px 4px 0px 10px;
}
.subnav .s-left .sl-btn{
	width: 91px;
	line-height: 27px;
	height: 27px;
	margin: 4px 0px 0px 24px;
	padding-left: 13px;
	float: left;
	display: block;
	border: 1px solid #d8d6d6;
	background: #fff url("../images/kefu.jpg");
	background-size: 20px;
	background-position: 10px 1px;
	background-repeat: no-repeat;
	font-size: 12px;
	text-align: center;
}
.subnav .s-left .sl-btn:hover{
	border-color: #d80e1a;
	color: #d80e1a;
	background: #fff url("../images/kefu.jpg");
	background-size: 20px;
	background-position: 10px -24px;
	background-repeat: no-repeat;
}
.subnav .s-right{
	float: right;
	width: 598px;
}
.subnav .s-right .sr-txt{
	float: right;
	line-height: 34px;
}
.subnav .sr-txt a{
	margin: 0px 8px;
	position: relative;
}
.subnav .sr-txt a:nth-child(1)::after{
	content: "";
	position: absolute;
	width: 1px;
	height: 14px;
	top: 3px;
	left: 37px;
	background-color: #ccc;
}
.subnav .sr-txt a:nth-child(2):hover{
	color: #000;
}
.subnav .sr-txt .sr-red{
	color: #d80e1a;
}
.subnav .sr-txt .sr-btn{
	margin: 0px 0px 0px 5px;
	width: 110px;
	height: 30px;
	display: inline-block;
	background-color: #d80e1a;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 3px;
}
.subnav .sr-txt .sr-btn:hover{
	background-color: #b0000a;
}